/* app css stylesheet */

.menu {
  list-style: none;
}

.city-name{
    border: 1px solid black;
    width: 310px;
    padding: 10px;
}

.delete-city{
    margin-left: 20px;
    display: inline-block;
}